* {
  box-sizing: border-box;
}

.container {
  @include gutter-padding;
}

.row {
  margin-left: grid-gutter-half() * -1;
  margin-right: grid-gutter-half() * -1;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border: 1px solid #ccc;
  align-items: flex-start;

  > .col,
  > .col-auto {
    border: 1px solid black;
    @include grid-make-default-column;
    @include gutter-padding;
    &:before {
      display: block;
      content: attr(class);
    }

    &.col-stretch {
      align-self: stretch;
    }

    &.col-top {
      align-self: flex-start;
    }

    &.col-bottom {
      align-self: flex-end;
    }

    &.col-middle {
      align-self: center;
    }

    &.col-auto {
      @include grid-make-default-column();
    }
  }

  @each $size in (xs, sm, md, lg, xl) {
    @include grid-make-responsive-column($size);
  }

  &.row-end {
    justify-content: flex-end;
  }

  &.row-center {
    justify-content: center;
  }

  &.row-spread {
    justify-content: space-between;
  }

  &.row-space-around {
    justify-content: space-around;
  }

  &.row-middle {
    align-items: center;
  }

  &.row-stretch {
    align-items: stretch;
  }

  &.row-bottom {
    align-items: flex-end;
  }
}